.container {
    width: 98%;
    margin: 0 auto;
    height: 50vh;
    background-color: red;
    display: flex;
}

.box {
    width: 33.33%;
    height: 100px;
    background-color: blue;
    display: inline-block;
    margin: 0;

}













